.imageContainer,
.imageContainerSelected {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
}

.imageContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s;
  z-index: 1;
  opacity: 0;
  border-radius: 8px;
} 
.imageContainer:hover:before {
  opacity: 1;
}
.imageContainerSelected:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(156, 156, 156, 0.4);
  transition: opacity 0.3s;
  z-index: 1;
  opacity: 1;
}

.images {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s, filter 0.3s;
  outline: 1px solid rgb(203, 203, 203);
  border-radius: 8px;
}

.checkBox {
  position: absolute;
  top: 16px;
  left: 10px;
  z-index: 500;
  cursor: pointer;
  height: 20px;
  width: 24px;
  opacity: 0;
  border: 2px solid red;
}

.imageContainer:hover .checkBox {
  opacity: 1;
}

.CheckBoxSelected {
  position: absolute;
  top: 16px;
  left: 10px;
  z-index: 500;
  cursor: pointer;
  height: 20px;
  width: 24px;
  opacity: 1;
  border: 2px solid red;
}

.checkBox:hover .imageContainer:before {
  opacity: 1;
}